<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Welcome</a></li>
  <li class="breadcrumb-item"><a href="/index">Home</a></li>
  <li class="breadcrumb-item"><a href="/characters">Character Lists</a></li>
  <li class="breadcrumb-item active"><%= @character.name %></li>
  <li class="breadcrumb-item"><a href="/edit">Account Settings</a></li>
  <li class="breadcrumb-item"><a href="/logout">Log Out</a></li>
</ol>

<div style="margin: 40px;">

    <% if flash.has?(:message) %>
      <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:message] %>  
      </div>
      <br><br>
    <% end %>

    <div style="display: grid; grid-template-columns: auto auto; grid-gap: 30px;">
        <div class="card border-secondary mb-3" style="max-width: 20rem; text-align: center">
            <div class="card-header">
                <h3><%= @character.name %></h3>
            </div>

            <div class="card-body">
                <p class="card-title" style="text-align: center;"><img src="<%= @character.image %>" style="max-width: 90%;"></p>

                <blockquote class="blockquote">
                    <p class="mb-0"><%= @character.quote %></p>
                    <footer class="blockquote-footer"><cite title="Source Title"><%= @character.name %></cite></footer>
                </blockquote>

                <br><br>

                <div style="bottom: 0px; width: 100%">
                    <form method="POST" action="/characters/<%= @character.slug %>">
                        <input type="hidden" id="hidden" name="_method" value="DELETE">
                        <p><input type="submit" class="btn btn-outline-danger" value="Remove Character"></p>
                    </form>
                </div>
            </div>
        </div>

        <div class="card border-secondary mb-3" style="max-width: auto;">
            <div class="card-body">
                <h5>Biography</h5>
                <p><%= @character.bio %></p>

                <p class="card-text">
                    <h5>Fighting moves</h5>
                    <% if @character.moves.empty? %>
                        <p>There are no fighting moves. Would you like to add/edit fighting moves?</p>
                        
                        <p><a href="/<%= @character.slug %>/moves/new"><input type="submit" class="btn btn-outline-success" value="Add Fighting Moves"></a></p>
                    <% else %>
                        <p><% @character.moves.each do |move| %>
                            <li><%= move.name %><br></li>
                        <% end %></p>
                        
                        <p><a href="/<%= @character.slug %>/moves/edit"><input type="submit" class="btn btn-outline-success" value="Add/Edit Fighting Moves"></a></p>
                    <% end %>

                    <h5>Stage</h5>
                    <% if @stage.nil? %>
                        <p>Select a Stage to play.</p>
                        
                        <p><a href="/<%= @character.slug %>/stages/new"><input type="submit" class="btn btn-outline-success" value="Add Stage Battle"></a></p>
                    <% else %>
                        <p><li><%= @stage.name %><br></li></p>

                        <p><a href="/<%= @character.slug %>/stages/edit"><input type="submit" class="btn btn-outline-success" value="Edit Stage Battle"></a></p>
                    <% end %>
                </p>

                <br><br>

                <div style="bottom: 0px; width: 100%">
                    <p style="text-align: center;"><a href="/characters/<%= @character.slug %>/<%= @stage.id %>/battle"><input type="submit" class="btn btn-warning" value="Are you ready for your battle?"></a></p>
                </div>
            </div>
        </div>
    </div>
</div>